<mat-card class="payment__form">
    <mat-card-title>Client's Information</mat-card-title>
    <mat-card-content class="payment__form-content">
        <form>
            <div>
                <label>User name</label>
                <input type="text" placeholder=""/>
            </div>
            <div>
                <label>Phone number</label>
                <input type="tel" placeholder=""/>
            </div>
            <div>
                <label>Email</label>
                <input type="email" placeholder=""/>
            </div>
        </form>
        <div>
            <h5>Term and policy</h5>
        </div>
    </mat-card-content>

</mat-card>