<div class="trip-time__duration">
    <div>
        <p>
            @if(busRoute.departureTime){
            <b>{{busRoute.departureTime | convertUnixToDateGMT}}</b>
            }
        </p>
        <p>
            {{busRoute.departureLocation}}
        </p>
    </div>
    <p style="text-align: center;">
        {{busRoute | calculateRouteDuration | convertUnixToDateGMT}}
        <br />
        (Asian/ Ho Chi Minh)
    </p>
    <div>
        <p>
            @if(busRoute.arrivalTime){
            <b>{{busRoute.arrivalTime | convertUnixToDateGMT}}</b>
            }
        </p>
        <p>
            {{busRoute.arrivalDestination}}
        </p>
    </div>
</div>