<mat-card class="booking__bar">
  <app-trip-type (onChangeTripType)="handleTripTypeChange($event)"/>
  <div class="booking__bar--container">
    <app-origin (onChangeOrigin)="handleOriginChange($event)"/>
    <button (click)="onButtonClick()" class="image-button">
      <img alt="Swap icon" class="button-image" height="16px" src="assets/icons/swap_icon.svg" width="16px"/>
    </button>
    <app-destination (onChangeDestination)="handleDestinationChange($event)"/>

    <ng-container *ngIf="isRoundTrip; else oneWay">
      <app-return-date></app-return-date>
    </ng-container>
    <ng-template #oneWay>
      <app-departure-date (onChangeDepartureDate)="handleDepartureDateChange($event)"/>
    </ng-template>

    <app-ticket-count/>
  </div>
  <button (click)="goToSearchPage()" class="p-btn">Search trips</button>
</mat-card>
