.booking__bar {
    max-width: 1128px !important;
    display: block;
    margin: auto;
    margin-top: 5rem;
    background: #fff;
    border: 1px solid rgba(239, 82, 34, .6);
    border-radius: 1rem;
    padding: 1.5rem;
    outline: 8px solid rgba(170, 46, 8, .1);
    
    &--grid-default {
        display: flex;
        gap: 10px;

        .stretch{
            width: 100%;
        }
        
        .grid-stretch{
            width: calc(100% - 20px);
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    
}