<mat-card class="selected__trip">
    <mat-card-title>Trip information</mat-card-title>
    <mat-card-content>
        <table class="selected__trip-table">
            <tr>
                <p><b>Route name</b></p>
                <p>Bx Mien tay => Da Lat</p>
            </tr>
            <tr>
                <p><b>Time</b></p>
                <p>00:00 14-03-2024</p>

            </tr>
            <tr>
                <p><b>Seats total</b></p>
                <p>0 seats</p>
            </tr>
            <tr>
                <p><b>Seats name</b></p>
                <p>B10, B11</p>
            </tr>
            <tr>
                <p><b>Cost</b></p>
                <p>290.000đ</p>
            </tr>
        </table>
    </mat-card-content>
</mat-card>