<div class="trip__information">
    @for( item of trips();track item.id){
    <mat-card class="trip">
        <div class="trip__duration">
            @if(item.arrivalTime && item.departureTime){
                <app-trip-time-duration 
                [arrivalTime] = item.arrivalTime
                [departureTime] = item.departureTime/>
            }
            
            <p style="margin-left: 1rem;">Limousine</p>
            <div>
                <p>30 chỗ trống</p>
                <br />
                <p>
                    <b>
                        {{item.ticketPrice}} $
                    </b>
                </p>
            </div>
        </div>
        <div class="trip__actions">
            <div>
                <button mat-stroked-button color="accent">Choose seat</button>
                <button mat-stroked-button color="accent">Schedule</button>
                <button mat-stroked-button color="accent">Transshipment</button>
                <button mat-stroked-button color="accent">Policy</button>
            </div>
            <div>
                <button mat-stroked-button color="primary" (click)="selectTrip()">Select trip</button>
            </div>
        </div>
    </mat-card>
    }
</div>